<!DOCTYPE html><html><head><title></title><link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"><link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"><link rel="stylesheet" href="/stylesheets/style.css"></head><body><!--h1.text-center= title--><div class="container"><div class="row"><div class="col-sm-6 col-md-4 col-md-offset-4">div.panel.panel-default
  div.panel-heading.text-center
    h2.fa.fa-sign-in Login
  div.panel-body
    form(class='form-signin', action='/login', method='POST')
      if message.length > 0
        .alert.alert-danger
          .text-center.error-message 
      div.form-group
        input(type='text', name='email' class='form-control', placeholder='Email',required, autofocus)
        input(type='password', name='password' class='form-control', placeholder='Password', required)
      button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
      span.clearfix
      a(href='/signup', class='text-center new-account') Create an account</div></div></div></body></html>