nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false")
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(class="navbar-brand" href="#") Mythical
    .collapse.navbar-collapse#bs-navbar-collapse
      ul.nav.navbar-nav
        li(role="presentation" class="active")
          a(href="/home") Home
        li(role="presentation")
          a(href="/") Login
        li(role="presentation")
          a(href="/game") Game
        li(role="presentation")
          a(href="/logout") Logout